<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title></title>

        <link href="lib/ionic/css/ionic.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">

        <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
        <link href="css/ionic.app.css" rel="stylesheet">
        -->

        <!-- ionic/angularjs js -->
        <script src="lib/ionic/js/ionic.bundle.js"></script>

        <!-- cordova script (this will be a 404 during development) -->
        <script src="js/ng-cordova.min.js"></script>
        <script src="cordova.js"></script>

        <!-- your app's js -->
        <script src="js/app.js"></script>


        <!-- google maps javascript -->
        <!--script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB16sGmIekuGIvYOfNoW9T44377IU2d2Es&sensor=true"></script-->
        <script src="http://maps.google.com/maps/api/js?libraries=places&sensor=false"></script>
        <!--script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.js"></script-->

    </head>
    <body ng-app="starter" ng-controller="MapCtrl">
    <ion-side-menus >
        <ion-side-menu-content>
            <ion-header-bar class="bar-stable">
                <h1 class="title">Ellak</h1>
            </ion-header-bar>
            <ion-content>
                <div id="map_canvas">
                    <google-map center="map.center" zoom="map.zoom" draggable="true" options="options"></google-map>
                </div>
                <div id="geo" ng-click="geoLocate()">
                    <button class="button button-icon ion-android-locate">Track Me</button>
                </div>

                <ion-footer-bar id="footer" align-title="center" keyboard-attach>          
                    <div id="list" class="buttons">
                        <button class="button button-icon button-clear ion-paper-airplane" ng-click="replay()" menu-toggle="left"></button>
                    </div>
                    <label id="search" class="item item-input">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input id="pac-input" class="controls" type="search" placeholder="Search for destination near region, city ..">
                    </label>
                    <div id="destin" class="buttons">
                        <button class="button button-icon button-clear ion-android-information" menu-toggle="right"></button>
                    </div>
                </ion-footer-bar></ion-content>
        </ion-side-menu-content>
        <ion-side-menu side="left" >
            <ion-scroll class="scroll">
                <div class="item item-divider" style="text-align: center">
                    <ion-toggle id="ctoggle"  ng-model="helper.t" ng-change="toggler()" toggle-class="toggle-positive">Destinations</ion-toggle>
                </div>
                <ion-checkbox  ng-repeat="item in devList"
                               ng-model="item.checked"
                               ng-checked="item.checked">
                    {{ item.text}}
                </ion-checkbox>
            </ion-scroll>
        </ion-side-menu>
        <ion-side-menu side="right">
            <ion-scroll class="scroll" >
                <div ng-repeat="item in destList| orderBy:'type'" ng-if="item.list.length > 0">
                    <div class="item item-divider bar bar-positive" ng-click="item.showList = !item.showList"> 
                        {{item.type}}
                    </div>
                    <div ng-repeat="list in item.list| orderBy:'name'" ng-show="item.showList">
                        <div class="item item-divider" style="text-align: left" ng-click="openWindow(item.type, list)"> 
                            {{list.name}}
                        </div>
                        <ion-list ng-show="list.opened" >
                            <ion-item id="{{list.lat}}" overflow-scroll="true">
                                <p class="overflowno">{{list.name}}<br>
                                    <em>{{list.address}}</em><br><br>
                                    Description: "{{list.extra.description}}"<br>
                                    Go to source page: <a href="{{list.extra.url}}">
                                        <span id="smimg" ng-switch on="list.source">
                                            <img ng-switch-when="Facebook" src="img/fbico.png" alt="Facebook">
                                            <img ng-switch-when="Foursquare" src="img/4sqico.png" alt="Foursquare">
                                            <img ng-switch-when="Google Plus" src="img/gplusico.png" alt="Google Plus">
                                        </span>
                                    </a>
                                </p>
                                <button class="button button-block button-small button-balanced ion-location" ng-click="onMap(list)" menu-close>See on Map</button>
                                <button class="button button-block button-small button-energized ion-map" ng-click="calcRoute(list)" menu-close>Get Directions</button>
                            </ion-item>
                        </ion-list>
                    </div>
                </div>
                <div>

                </div>
            </ion-scroll>
        </ion-side-menu>
    </ion-side-menus>

</body>
</html>
