.scroll, .angular-google-map-container, .angular-google-map, #map_canvas { height: 100%;}
.item-input { padding-left: 8px;}
.item-input i { margin-right: 3px;}

/*
#list { width: 0.1125%;}
#search { width: 0.7%;}
#geo { width: 0.13125%;}
*/